<div class="landing-content">

    <div class="about-content">
        <h1 class="page-title">About Us</h1>
        <p class="about-description">May every corner of the city be seen. Let silent stories be softly whispered in the
            glow of lamplight.

        </p>
        <div class="about-team">
            <div class="about-team-member">
                <img src="/images/Team/Jo..jpg" alt="Junhe Jiao">
                <h3>Junhe Jiao</h3>
                {{!-- <p>Jo.</p> --}}
                <p>Stop trying to control everything and just let go!</p>
            </div>
            <div class="about-team-member">
                <img src="/images/Team/sun.jpg" alt="Xiaoyu Sun">
                <h3>Xiaoyu Sun</h3>
                {{!-- <p>sun</p> --}}
                <p>Everyone has two lives; the second one truly begins the moment you realize you only have one.</p>
            </div>
            <div class="about-team-member">
                <img src="/images/Team/Kyle.jpg" alt="Kaiyuan Ying">
                <h3>Kaiyuan Ying</h3>
                {{!-- <p>Kyle</p> --}}
                <p>Indeed, the world is a dream.</p>
            </div>
            <div class="about-team-member">
                <img src="/images/Team/Radeomonia..jpg" alt="Ruikang Li">
                <h3>Ruikang Li</h3>
                {{!-- <p>Radeomonia</p> --}}
                <p>Life’s fleeting journey abides in a dream within a dream; The world’s affairs arrive as whispers on
                    the wind.</p>

            </div>
        </div>
    </div>


    <div id="tsparticles"></div>

</div>

<script src="https://cdn.jsdelivr.net/npm/tsparticles-preset-stars@2/tsparticles.preset.stars.bundle.min.js"></script>
<script src="/js/about.js"></script>