<div class="landing-content">


    <section class="hero-section">
        <div class="hero-top">

            <h1 class="page-title">Welcome to Urban Eye</h1>

            <div class="landing-description">
                <p> From traffic incidents to public gatherings, stay updated with what's happening around you.</p>

                <div class="landing-buttons">
                    <a href="/event" class="primary-button">Browse Events</a>
                    <a href="/signup" class="secondary-button">Create Account</a>
                </div>
            </div>
            <img class="landing-img" src="images/homepage.jpg"/>

        </div>
        <canvas id="gradient-canvas" data-js-darken-top data-transition-in />


    </section>

</div>

<script src="/js/gradient.js" defer></script>