<div class="login-content">
    <div class="login-form-container">
        <div class="login-form">
            <h3 class="login-header">Log in</h3>

            <div class="form-group">
                <input id="username" type="text" placeholder="Username" class="form-input username-input">
            </div>

            <div class="form-group">
                <input id="password" type="password" placeholder="Password" class="form-input password-input">
            </div>

            <div class="login-actions">
                <span class="error-message">
                    <i class="fas fa-triangle-exclamation"></i>
                    <span id="errorMessage">Request Denied!</span>
                </span>
                <button id="loginBtn" class="login-submit-btn submit-button">Log in</button>
                {{!-- <a id="loginBtn" href="/profile" class="login-submit-btn submit-button">Log in</a> --}}
            </div>

            <div class="form-footer">
                <span>Do not have an account?&nbsp;</span>
                <span><a href="/signup" class="signup-link">Sign up</a></span>
                <span>&nbsp;here!</span>
            </div>
        </div>
    </div>
</div>

<script src="/js/login.js" defer></script>