<div class="login-content">
    <div class="login-form-container">
        <div class="login-form">
            <div class="form-group"></div>
            <h3 class="logout-header">Log out of UrbanEye?</h3>
            <p class="logout-message">You can always log back in at any time. You will be redirected to the login page.
            </p>

            <div class="login-actions logout-actions">
                <div class="login-actions">
                    <span class="error-message" id="errorMessage">
                        <i class="fas fa-triangle-exclamation"></i>
                        Request Denied!
                    </span>
                    <button id="logoutBtn" class="submit-button logout-button">Log out</button>
                </div>

                <button id="cancelBtn" class="cancel-btn submit-button">Cancel</button>
            </div>

        </div>
    </div>
</div>

<script src="/js/logout.js" defer></script>