<div class="profile-content">
    <div class="profile-view" id="profileView" style="display: flex;">
        <div class="profile-section user-card">
            <div class="user-top">
                <div class="user-background">
                    <img src="https://d19rpgkrjeba2z.cloudfront.net/static/gen/befae3b68bbf5ef9f69d.svg"
                        alt="user background">
                </div>
                <div class="comment-useravator user-avatar">
                    <img id="avatarDisplay" src="{{user.avatar}}" alt="User Avatar"
                        onerror="this.onerror=null; this.src='https://urban-eye.oss-us-east-1.aliyuncs.com/users-pic/morentouxiang.png';" />
                </div>


            </div>

            <div class="user-actions">
                <button class="edit-profile-btn submit-button" id="editProfileBtn"><i
                        class="fa-solid fa-pen-to-square"></i>Edit profile</button>
                <button class="edit-profile-btn submit-button signout-button" id="signOutBtn"><i
                        class="fa-solid fa-arrow-right-from-bracket"></i>Sign out</button>
            </div>

            <div class="user-details">
                <div class="user-detail-name">
                    <h3 class="name" id="nameDisplay">Jo.</h3>
                    <h3 class="user-name" id="usernameDisplay"><i class="fa-solid fa-at"></i>jiaojh</h3>
                </div>
                <div class="user-detail">
                    <span class="detail-value" id="introductionDisplay">Passionate about keeping my neighborhood safe
                        and informed. Sharing real-time updates on traffic, events, and local alerts. Always on the
                        lookout for the next community story.
                    </span>
                </div>
                <br>
                <div class="user-detail">
                    <span class="detail-label"><i class="fa-solid fa-venus-mars"></i>Sex: </span>
                    <span class="detail-value" id="sexDisplay">Male</span>
                </div>
                <div class="user-detail">
                    <span class="detail-label"><i class="fa-regular fa-envelope"></i>Email:</span>
                    <span class="detail-value" id="emailDisplay">jo@gmail.com</span>
                </div>
                <div class="user-detail">
                    <span class="detail-label"><i class="fa-solid fa-mobile-screen-button"></i>Phone:</span>
                    <span class="detail-value" id="phoneDisplay">201920799</span>
                </div>
            </div>
        </div>

        <div class="profile-section dashboard-card">
            <h3 class="dashboard-title">Dashboard</h3>
            <div class="visibility-note">
                <span class="eye-icon"><i class="fa-regular fa-eye"></i></span>
                <span>Only visible to you</span>
            </div>

            <div class="dashboard-items">
                <div class="dashboard-row">

                    <a href="profile/myevents" class="dashboard-cell" id="events">
                        <i class="fa-regular fa-calendar-check"></i>
                        <span class="item-text">Events</span>
                    </a>
                    <a href="profile/mylikes" class="dashboard-cell" id="likes">
                        <i class="fa-regular fa-heart"></i>
                        <span class="item-text">Likes</span>

                    </a>
                </div>
                <div class="dashboard-row">
                    <a href="profile/mycomments" class="dashboard-cell" id="comments">
                        <i class="fa-regular fa-comment-dots"></i>
                        <span class="item-text">Comments</span>
                    </a>

                </div>
            </div>
        </div>
    </div>


    <div class="profile-view" id="editProfileView" style="display: none;">
        <div class="profile-section dashboard-card">
            <div class="edit-header">
                <button class="back-button" id="backToProfileBtn"><i class="fas fa-angle-left"></i></button>
                <h3>Edit Profile</h3>
            </div>
        </div>
        <div class="profile-section dashboard-card">
            <div class="avatar-edit-section">
                <img class="comment-useravator user-avatar-edit" id="avatarPreview" src="" alt="User Avatar">
                <label for="avatarUpload" hidden>Avatar</label>
                <input type="file" id="avatarUpload" accept="image/*" hidden>
                <button for="avatarUpload" class="submit-button">Upload</button>
                <span class="error-message" id="errorMessage">
                    <i class="fas fa-triangle-exclamation"></i>
                    Demo Error Message!
                </span>
            </div>
        </div>
        <div class="profile-section dashboard-card">
            <h4>Introduction</h4>
            <div class="edit-fields">
                <div class="edit-field">
                    <label style="display: none;"><i class="fa-solid fa-comment-dots"></i> Introduction: </label>
                    <textarea id="editIntroduction" class="form-input" rows="5"
                        placeholder="Introduce yourself ..."></textarea>
                </div>
                <div class="field-actions">
                    <span class="error-message" id="errorMessage" data-field="introduction">
                        <i class="fas fa-triangle-exclamation"></i>
                        Demo Error Message!
                    </span>
                    <button class="submit-button cancel-btn" data-field="introduction">Cancel</button>
                    <button class="submit-button" data-field="introduction">Save</button>
                </div>
            </div>

        </div>
        <div class="profile-section dashboard-card">
            <h4>Profile</h4>
            <div class="edit-fields">
                <div class="edit-field">
                    <label><i class="fa-regular fa-user"></i> Username: </label>
                    <input type="text" id="editUsername" class="form-input" placeholder="Username ...">
                </div>
                <div class="edit-field">
                    <label><i class="fa-solid fa-signature"></i> Name: </label>
                    <input type="text" id="editName" class="form-input" placeholder="Name ...">
                </div>
                <div class="edit-field">
                    <label><i class="fa-solid fa-venus-mars"></i> Sex: </label>
                    <select class="editSex" id="editSex">
                        <option value="">Sex ...</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Transgender Male">Transgender Male</option>
                        <option value="Transgender Female">Transgender Female</option>
                        <option value="Non-binary">Non-binary</option>
                        <option value="Genderqueer">Genderqueer</option>
                        <option value="Genderfluid">Genderfluid</option>
                        <option value="Intersex">Intersex</option>
                        <option value="Agender">Agender</option>
                        <option value="Bigender">Bigender</option>
                        <option value="Two-Spirit">Two-Spirit</option>
                        <option value="I don't know">I don't know</option>
                        <option value="Prefer not to say">Prefer not to say</option>
                    </select>
                </div>
                <div class="edit-field">
                    <label><i class="fa-regular fa-envelope"></i> Email: </label>
                    <input type="text" id="editEmail" class="form-input" placeholder="Email ...">
                </div>
                <div class="edit-field">
                    <label><i class="fa-solid fa-mobile-screen-button"></i> Phone: </label>
                    <input type="text" id="editPhone" class="form-input" placeholder="Phone ...">
                </div>
                <div class="field-actions">
                    <span class="error-message" id="errorMessage" data-field="profile">
                        <i class="fas fa-triangle-exclamation"></i>
                        Demo Error Message!
                    </span>
                    <button class="submit-button cancel-btn" data-field="profile">Cancel</button>
                    <button class="submit-button" data-field="profile">Save</button>
                </div>
            </div>
        </div>

        <div class="profile-section dashboard-card">
            <h4>Change Password</h4>
            <div class="edit-fields edit-password-fields">
                <div class="edit-field">
                    <label><i class="fa-solid fa-lock"></i> Old password: </label>
                    <input type="password" id="oldPassword" class="form-input" placeholder="Old password ...">
                </div>
                <div class="edit-field">
                    <label><i class="fa-solid fa-key"></i> New password: </label>
                    <input type="password" id="newPassword" class="form-input" placeholder="New password ...">
                </div>
                <div class="edit-field">
                    <label><i class="fa-solid fa-check-double"></i> Confirm password: </label>
                    <input type="password" id="confirmPassword" class="form-input" placeholder="Confirm password ...">
                </div>
                <div class="field-actions">
                    <span class="error-message" id="errorMessage" data-field="password">
                        <i class="fas fa-triangle-exclamation"></i>
                        Demo Error Message!
                    </span>
                    <button class="submit-button cancel-btn" data-field="password">Cancel</button>
                    <button class="submit-button" data-field="password">Save</button>
                </div>
            </div>
        </div>
    </div>



</div>


{{!-- <div class="user-actions">
    <div class="user-menu">
        <div class="avatar-circle-small"></div>
        <div class="user-name-small">{{user.username}}</div>
        <div class="menu-actions">
            <button class="view-profile-btn">View profile</button>
            <button class="sign-out-btn">Sign out</button>
        </div>
    </div>
</div> --}}




<script src="/js/profile.js"></script>