<div class="login-content">
    <div class="login-form-container">
        <div class="login-form">
            <h3 class="login-header">Sign Up</h3>

            <div class="form-group">
                <input id="username" type="text" placeholder="Username" class="form-input username-input">
            </div>

            <div class="form-group">
                <input id="password" type="password" placeholder="Password" class="form-input password-input">
            </div>

            <div class="form-group">
                <input id="confirmPassword" type="password" placeholder="Confirm Password" class="form-input confirm-password-input">
            </div>

            <div class="login-actions">
                <span class="error-message">
                    <i class="fas fa-triangle-exclamation"></i>
                    <span id="errorMessage">Request Denied!</span>
                </span>
                <button id="signupBtn" class="signup-submit-btn submit-button">Sign up</button>
            </div>

            <div class="form-footer">
                <span>Already have an account?&nbsp;</span>
                <span><a href="/login" class="signup-link">Log in</a></span>
                <span>&nbsp;here!</span>
            </div>
        </div>
    </div>
</div>

<script src="/js/signup.js" defer></script>