<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UrbanEye - {{title}}</title>
    <link rel="stylesheet" href="/css/styles.css">
    {{!-- icons --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    {{!-- font-erode --}}
    <link href="https://api.fontshare.com/v2/css?f[]=erode@300,301,400,500,501,600,700&display=swap" rel="stylesheet">
    <!-- choices element -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
    {{!-- Aliyun OSS SDK --}}
    <script src="https://gosspublic.alicdn.com/aliyun-oss-sdk-6.20.0.min.js"></script>      
</head>

<body>

    <header class="header">
        <div class="container">
            <div class="logo">
                <a href="/" class="logo-link">
                    <img src="/images/eyelogo.png" alt="UrbanEye Logo" class="logo-image">
                    <span class="logo-text">UrbanEye</span>
                </a>
            </div>
            <div class="header-right">
                <nav class="main-nav">
                    <ul>
                        <li><a href="/" class="nav-link {{#if isHome}}active{{/if}}">HOME</a></li>
                        <li><a href="/event" class="nav-link {{#if isEvent}}active{{/if}}">EVENT</a></li>
                        <li><a href="/about" class="nav-link {{#if isAbout}}active{{/if}}">ABOUT</a></li>
                    </ul>
                </nav>

                {{#if user}}
                <div class="user-profile-icon">
                    <a href="/profile">
                        <div class="comment-useravator">
                            <img src="{{user.avatar}}" alt="User Avatar"
                                onerror="this.onerror=null; this.src='https://urban-eye.oss-us-east-1.aliyuncs.com/users-pic/morentouxiang.png';" />
                        </div>
                    </a>
                </div>
                {{else}}
                <div class="login-button">
                    <a href="/login"><button>LOG IN</button></a>
                </div>
                {{/if}}
            </div>
        </div>
    </header>

    <main class="main-content">
        {{{body}}}
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2025 UrbanEye. All rights reserved.</p>
            <div class="footer-links">
                <a href="about.html">About</a>
                <a href="#privacy">Privacy Policy</a>
                <a href="#terms">Terms of Service</a>
            </div>
        </div>
    </footer>

    <script src="/js/location-service.js"></script>
</body>

<!-- JS -->
<script src="/js/aliyun.js" defer></script>

</html>